*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(1, 1, 24);
    color: white;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.corpo-pagina{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
    "logo nav nav"
    "section section section"
    ;
    width: 100vw;
    height: 100vh;
}

.corpo-pagina > .logo{
    grid-area: logo;
    background-color: rgb(1, 1, 15);
    padding-top: 1.2vw;
    padding-left: 1.2vw;
}

.corpo-pagina > nav{
    grid-area: nav;
    background-color: rgb(1, 1, 15);
    padding-top: 1.2vw;
    padding-left: 1.2vw;
}

.corpo-pagina > section{
    grid-area: section;
}

.logo h1{
    font-size: 30px;
    text-align: center;
    font-family: "Lugrasimo", cursive;
    font-weight: 500;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding-right: 900px;
    padding-left: 0px;
    padding-bottom: 2vw;
}

nav a{
    color: white;
    text-decoration: none;

}

nav a:hover{
    text-decoration: underline;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: rgb(1, 1, 15);
    width: 500px;
    height: 85vh;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-left: 35vw;
    margin-right: 33vw;
    margin-top: 1vw;
}

section h2{
    color: white;
    font-size: 1.7rem;
    margin: 2rem;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: white;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin: 20px;
    font-size: 15px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

form button:hover{
    text-decoration: underline;
}

@media screen and (max-width: 795px){
    section{
        width: 400px;
        height: 90vh;
    }
}

@media screen and (max-width: 630px){
    section{
        width: 300px;
        height: 90vh;
    }
}
